@use "../../index";
nav {
   height: 3.5rem;
   display: flex;

   .nav-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .nav-left-content a {
         font-weight: index.$font-weight-bold;
         text-decoration: none;
         span {
            color: red;
         }
      }
      .nav-right-content {
         display: flex;
         align-items: center;
         gap: index.$mg-2;
         font-size: index.$text-font-size;
         .cart-icon-wrapper {
            font-size: 24px;
         }
         .menu {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 3.5rem;
            right: index.$mg-2;
            max-height: 50px;
            overflow: hidden;

            li {
               list-style: none;
            }
         }
         .burger-icon-container {
            display: none;
            width: 25px;
            height: 25px;
         }
      }
   }
}

// === menu media query
@media only screen and (max-width: 700px) {
   nav {
      .nav-container {
         .nav-right-content {
            .menu {
               max-height: 0px;
               &.isOpen {
                  max-height: 200px;
               }
            }
            .burger-icon-container {
               display: flex;
               justify-content: center;
               align-items: center;
               position: relative;
               &:hover {
                  cursor: pointer;
               }
               .burger {
                  width: 100%;
                  height: 1.5px;
                  &.isOpen:before {
                     transform: rotate(-45deg);
                  }
                  &.isOpen:after {
                     transform: rotate(45deg);
                  }
                  &:before {
                     content: "";
                     position: absolute;
                     width: 100%;
                     height: 1.5px;
                     background-color: black;
                     transform: translateY(3px);
                  }
                  &:after {
                     content: "";
                     position: absolute;
                     width: 100%;
                     height: 1.5px;
                     background-color: black;
                     transform: translateY(-3px);
                  }
               }
            }
         }
      }
   }
}

@media only screen and (min-width: 701px) {
   nav {
      .nav-container {
         .nav-right-content {
            .menu {
               position: relative;
               top: 0;
               max-height: 100%;
               flex-direction: row;
               right: 0;
               gap: index.$mg-1;
            }
         }
      }
   }
}
