@use "../../index.scss";
$max-width: 445px;
.login {
   .login-container {
      //   border: 1px solid black;
      flex-direction: column;

      .block-customer-login {
         margin: auto;
         max-width: $max-width;
         flex-direction: column;
         gap: index.$mg-2;
         border-bottom: 1px solid rgba(207, 207, 207, 0.651);
         padding-bottom: index.$mg-4;
         .login-heading {
            // text-align: center;
            .title {
               text-transform: capitalize;
            }
         }
         .login-content {
            flex-direction: column;
            gap: index.$mg-2;
            input {
               padding: 5px;
               outline: none;
               font-size: 16px;
            }
         }
      }
      .block-new-customer {
         margin: auto;
         max-width: $max-width;
         padding-top: index.$mg-4;
         flex-direction: column;
         gap: index.$mg-1;
         .title {
         }
      }
   }
}
