.product {
   .product-container {
      .product-wrapper {
         .product-images {
         }
         .product-info-container {
            .title {
               font-size: 20px;
            }
            .btn-qty-container {
               display: flex;
               gap: 0.5rem;
               margin-top: 10px;
               button {
                  border: none;
                  outline: none;
                  background-color: black;
                  color: white;
                  padding: 0.5rem 1rem;
                  font-weight: 500;
                  text-transform: capitalize;
                  transition: all 0.3s ease-out;
                  font-family: "Poppins", sans-serif;
                  &:hover {
                     cursor: pointer;
                     background-color: rgba(0, 0, 0, 0.801);
                  }
               }
               select {
                  outline: none;
                  border: none;
                  background-color: white;
                  border: 1px solid black;
                  width: 40px;
                  option {
                     background-color: white;
                     width: 40px;
                     border-radius: 0;
                     outline: none;
                     border: none;
                  }
               }
            }
            .general-info {
               margin-top: 20px;
               display: flex;
               flex-direction: column;
               gap: 1rem;
            }
         }
      }
   }
}

@media (min-width: 800px) {
   .product {
      .product-container {
         .product-wrapper {
            display: flex;
            gap: 20px;

            .product-images {
               width: 50%;
            }
         }
      }
   }
}
