@use "../../index";
.home {
   .main-container {
      .main-info {
         height: calc(100vh - 3.5rem);
         display: flex;
         flex-direction: column;
         justify-content: center;
         background-color: #f2f2f2;
         padding: 50px;
         text-align: left;
         a {
            width: fit-content;
            text-decoration: none;
            border: 2px solid index.$primary-color;
            padding: 3px 8px;
            margin-top: index.$mg-2;
            color: white;
            background-color: index.$primary-color;
            border-radius: 20px;
            text-transform: capitalize;
            font-weight: index.$font-weight-medium;
            transition: all 0.3s ease-out;
            &:hover {
               background-color: black;
            }
         }
         h1 {
            font-size: 2.1rem;
            text-transform: uppercase;
         }
         display: flex;
         flex-direction: column;
      }
   }

   .img-banner {
      background-color: #ddd9d6;
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
      img {
         width: 60%;
         height: auto;
         padding: index.$mg-2;
      }
   }
}

@media only screen and (min-width: 800px) {
   .home {
      .main-container {
         max-width: 1200px;
         margin: auto;
         display: flex;
         flex-direction: row;
         height: calc(100vh - 3.5rem);

         .main-info {
            flex-grow: 1;
            width: 50%;
            height: auto;
            h1 {
               font-size: 2.7rem;
            }
         }
         .img-banner {
            width: 50%;

            grid-row: 1;
            img {
               width: 100%;
               max-width: 400px;
               scale: 0.7;
            }
         }
      }
   }
}

@media (min-width: 1200px) {
   .home {
      .main-container {
         .main-info {
            margin-left: index.$mg-2;
         }
         .img-banner {
            margin-right: index.$mg-2;
         }
      }
   }
}
