.cart-item {
   height: 100%;
   position: relative;
   margin-bottom: 1rem;

   .cart-item-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0.8rem;
      background-color: #f6f6f6;
      height: 6rem;

      .cart-item-info {
         display: flex;
         gap: 1rem;
         line-height: 1;
         height: 100%;
         justify-content: space-between;

         .cart-item-left {
            display: flex;
            flex-direction: column;

            justify-content: space-between;
            height: 100%;
            .title {
               font-size: 15px;
               line-height: 1;
               text-transform: capitalize;
            }
            p {
               font-size: 12px;
               line-height: 1.5;
               text-transform: capitalize;
               margin-bottom: 0.5rem;
            }
            label {
               font-size: 12px;
               margin-right: 5px;
               text-transform: capitalize;
            }
            select {
               outline: none;
               border: none;
               background-color: white;
               border: 1px solid rgba(0, 0, 0, 0.253);
               width: 40px;
               option {
                  background-color: white;
                  width: 40px;
                  border-radius: 0;
                  outline: none;
                  border: none;
               }
            }
         }

         .image-container {
            display: block;
            width: 70px;
            height: auto;
            background-color: #f6f6f6;

            img {
               width: 100%;
            }
         }
      }
      .cart-item-right {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-between;
         height: 100%;

         p {
            font-size: 15px;
            font-weight: 500;
         }
         button {
            background-color: transparent;
            border: none;
            font-size: 20px;
            &:hover {
               cursor: pointer;
            }
         }
      }
   }
}
